.contenedor-general {
    position: relative;
    background-image: linear-gradient(to top right, rgba(10, 10, 22, 0.9), rgba(9, 82, 9, 0.9)), url('/src/img/facing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.foto_usr {
    position: relative;
    background-image: linear-gradient(to top right, rgba(10, 10, 22, 0.9), rgba(139, 135, 125, 0.9)), url('/src/img/facing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    z-index: -2;
    border-radius: 5%;
}
.top_nav{
    padding-right: 1%;
}

.link_usr {
    margin-top:10px;
    padding: 5px 10px;
    border-radius: 5px; 
    text-align: center;
    transition: box-shadow 0.3s, transform 0.3s;
}
.link_usr:hover{
    color: black;
    background-color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}