#reg_ext_emergente{
    top: 20%;
    display: none;
    left: 10%;
}
#contenedor-form {
    width: 60%;
    text-align: left;
}
#delete_ext_emergente{
    top: 20%;
    display: none;
    left: 10%;
}