body{
    padding: 0;
    margin: 0;
    border: 0;
}
.navbar-custom {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 999;
  }
  
.navbar-custom .container {
    background: transparent;
}
  
.navbar-custom .navbar-brand img {
    border-radius: 50%;
}

.navbar-custom .navbar-brand .sistemas {
    color: #fff;
}

.navbar-custom .navbar-brand img {
    transform: scale(1.4);
    transition: transform 0.3s ease-in-out;
}
  
.navbar-custom .navbar-brand img:hover {
    transform: scale(1.8);
}

.log-in-button {
    background-color: transparent;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    font-family: sans-serif;
    letter-spacing: 0.2em;
    font-size: 1em;
}
  
.log-in-button:hover {
    border-bottom: 2px solid #fff;
}

.title-container section{
    height: 100vh;
    background: #000;
}
.title-container section:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f00, #f00, #0f0, #0ff, #ff0, #0ff);
    mix-blend-mode: color;
    pointer-events: none;

}
.title-container h1{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #ddd;
    font-size: 5em;
    font-family: sans-serif;
    letter-spacing: 0.2em;
}

.title-container .titulo1{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #dddddd6c;
    font-size: 2em;
    font-family: sans-serif;
    letter-spacing: 0.2em;
    opacity: 0;
    animation: animacionTitulos 1s linear forwards;
}

.title-container .titulo2{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #dddddd6c;
    font-size: 2em;
    font-family: sans-serif;
    letter-spacing: 0.2em;
    opacity: 0;
    animation: animacionTitulos 1s linear forwards;
}
.title-container h1 span{
    opacity: 0;
    display:inline-block;
    animation: animacion 1s linear forwards;
}

/* SISTEMAS */

.title-container h1 span:nth-child(1){
    animation-delay: 1s;
}
.title-container h1 span:nth-child(2){
    animation-delay: 1.5s;
}
.title-container h1 span:nth-child(3){
    animation-delay: 2.5s;
}
.title-container h1 span:nth-child(4){
    animation-delay: 3s;
}
.title-container h1 span:nth-child(5){
    animation-delay: 3.5s;
}
.title-container h1 span:nth-child(6){
    animation-delay: 3.75s;
}
.title-container h1 span:nth-child(7){
    animation-delay: 3.80s;
}
.title-container h1 span:nth-child(8){
    animation-delay: 4s;
}
/* UDENAR */
.title-container h1 span:nth-child(9){
    animation-delay: 1s;
}
.title-container h1 span:nth-child(10){
    animation-delay: 1.5s;
}
.title-container h1 span:nth-child(11){
    animation-delay: 2s;
}
.title-container h1 span:nth-child(12){
    animation-delay: 2.5s;
}
.title-container h1 span:nth-child(13){
    animation-delay: 3s;
}
.title-container h1 span:nth-child(14){
    animation-delay: 3.5s;
}
.title-container h1 span:nth-child(15){
    animation-delay: 4s;
}

.title-container video{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@keyframes animacion{
    0%{
        opacity: 0;
        transform:rotateY(90deg);
        filter:blur(10px);
    }
    100%{
        opacity: 1;
        transform:rotateY(0deg);
        filter:blur(0);
    }
}

@keyframes animacionTitulos {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
@media (max-width: 768px) {
    .title-container h1 {
      font-size: 3.5em;
    }
  
    .title-container .titulo1,
    .title-container .titulo2 {
      font-size: 1.5em;
    }
}
.fotter{
    background: #000;
    width: 100%;
    margin: 0;
}
.pie-pg{
    margin: 0;
    background: #000;
}

#logo{
   align-items: center;
}
#nombre{
    letter-spacing: 0.2em;
    font-family: sans-serif;
    color: white;
    font-size: 1.2em;
}

#vtn-login{
    border-radius: 20px;
}

#msg-bienvenida h1{
    color:gray;
    letter-spacing: 0.2em;
    font-size: 2em;
}
#frm-login{
    width: 100%;
}
.frm-div{
    width: 100%;
}
.input-frm{
    width: 100%;
    max-width: 400px;
    border: none;
    border-bottom: 3px solid gray;
}
.input-frm:focus {
    outline: none;
    border-bottom: 5px solid gray;
}
.btn-login{
    width: 90%;
    background-color: white;
    padding: 3%;
    border: solid 2px #4CAF50;
    color: black;
}
.btn-login:hover{
    background-color:#4CAF50;
    color:white;
}

.reset-passwd {
    color: #007bff;
    text-decoration: none;
    font-size: 14px; 
    font-weight: 500; 
    transition: color 0.3s;
    display: inline-block; 
    margin-top: 10px; 
}
  
.reset-passwd:hover {
    color: #0056b3;
    border-bottom: 2px solid #007bff;
}
  
.reset-passwd:focus {
    outline: none;
}

.valid {
    border-bottom: 5px solid green;
}

.invalid {
    border-bottom: 5px solid red;
}

.texto-email{
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
#texto-email{
    display: none;
    position: absolute; 
    top: -6rem;
    width: 100%;
    z-index: 200;
}

#texto-pass{
    display: none;
    position: absolute; 
    top: 2rem;
    width: 100%;
    z-index: 200;
}
.ver-contrasena {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#icono-ver-contra{
    color: gray;
}
#error-login{
    position: absolute;
    top: 15rem;
    width: 80%;
    z-index: 200;
}